.projecth {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    user-select: none !important;
}

.projectShowcaseFlex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.portfolio_button_cont {
    margin-top: 2.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.highlight_portfolio_button {
    font-size: 1.5rem !important;
    padding: 1rem !important;
    display: flex !important;
    gap: 1rem !important;
    align-items: center !important;
    cursor: pointer !important;
    user-select: none !important;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.blurDown {
    filter: grayscale(100%);
    opacity: 0;
    filter: blur(10px);
    transform: translate(0px, 108px);
    -webkit-transform: translate(0px, 108px);
    -moz-transform: translate(0px, 108px);
}

.bdOn {
    filter: grayscale(0%);
    opacity: 1;
    filter: blur(0px);
    transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
}

.swiper_container {
    height: fit-content;
    padding-top: 0.5rem !important;
    padding-bottom: 2rem !important;
    width: 100% !important;
    overflow-x: hidden;
    padding-left: 1rem;
    padding-right: 1rem;
}

.swiper-slide {
    width: fit-content !important;
    height: fit-content !important;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
    display: none;
}

.slider-controler {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: -1rem;
}

.swiper-pagination {
    position: static;
}

.projh_sub {
    margin-bottom: 1rem !important;
}

@media (max-width: 1100px) {
    /* .projectShowcaseFlex {
        max-width: 100%;
    } */
}