.portfolio_heading {
    margin-top: 15vh;
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    color: #333;
    letter-spacing: -0.01em;
    user-select: none;

}

.portfolio_subText {
    text-align: center;
    letter-spacing: 0.2rem;
    font-size: 0.75rem;
    user-select: none;
    font-weight: 600;
}

.portfolio_body {
    display: flex;
    margin-top: 1.5rem;
    align-items: center;
    justify-content: center;
}

/* portfoliopage.css */
.custom-scroll-buttons {
    display: flex !important;
    margin: 0rem 0.25rem !important;
    background-color: #444 !important;
    border-radius: 1rem !important;
    color: white !important;
}

.MuiTabs-scroller {
    border-radius: 1rem !important;
}

.pcard_wrapper {
    height: 100%;
    width: fit-content;
}

.pcard_wrapper:hover {
    cursor: pointer;
}

.pcard_pane {
    display: flex;
    width: fit-content;
    position: relative;
    height: 100%;
}

.pcard_pane_left {
    border-radius: 1rem;
    border: #d9d8d8 1px solid;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: 300ms;
}

.pcard_pane_left {
    flex: 1;
}

.pcard_pane:hover .pcard_pane_left {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
}

.pcard_title {
    font-size: 1.3rem;
    font-weight: 900;
    color: #373737;
}


.pcard_pane_right {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background-color: white;
    font-weight: 600;
    width: 18rem;
    padding: 2rem;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    bottom: 7rem;
    border: #b0b0b0 dashed 1px;
    /* transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out !important;
    transition: all 300ms ease-in-out; */
    transition: 300ms all ease-in-out;
}

.pcard_pane:hover .pcard_pane_right {
    visibility: visible;
    opacity: 1;
    bottom: 10rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius: 2rem;
}

.pcard_checkout_button {
    color: white;
    background-color: rgb(10, 10, 90);
    border-radius: 1rem;
    width: fit-content;
    padding: 0.25rem 0.75rem;
    box-shadow: 0px 10px 20px -6px rgba(49, 109, 213, 0.35);
    -webkit-box-shadow: 0px 10px 20px -6px rgba(49, 109, 213, 0.35);
    -moz-box-shadow: 0px 10px 20px -6px rgba(49, 109, 213, 0.35);
}

.pcard_checkout_button:hover {
    background-color: rgb(27, 27, 114);
    box-shadow: 0px 10px 20px -6px rgba(49, 109, 213, 0.61);
    -webkit-box-shadow: 0px 10px 20px -6px rgba(49, 109, 213, 0.61);
    -moz-box-shadow: 0px 10px 20px -6px rgba(49, 109, 213, 0.61);
}

.pcard_img_cont {
    width: 18rem;
    height: auto;
    border-radius: 1rem;

}

.pcard_pane_left_bottom {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    height: 8rem;
    width: 17.5rem;
    padding: 1.2rem 1.3rem;
}

.modal_next_button_gallery {
    position: absolute;
    top: 45%;
    right: 2rem;
    border-radius: 100%;
    background-color: #fefefea7;
    color: #ffe2e2;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.modal_prev_button_gallery {
    position: absolute;
    top: 45%;
    left: 2rem;
    border-radius: 100%;
    background-color: #fefefea7;
    color: #ffe2e2;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.pcard_img {
    width: 18rem;
    height: auto;
    object-fit: cover;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.MuiTypography-root {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.portfolio_circular_progress {
    margin-top: 4.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(89vh);
}

.pcard_openIcon {
    position: absolute;
    bottom: 6.5rem;
    right: 1rem;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 0.7rem;
    gap: 0.5rem;
}

.modal_preview_image_photography_container {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photography_portfolio_modal_image {
    height: 98vh;
    border-radius: 1rem;
    box-shadow: 0px 18px 38px 0px rgba(255, 255, 255, 0.36);
    -webkit-box-shadow: 0px 18px 38px 0px rgba(255, 255, 255, 0.36);
    -moz-box-shadow: 0px 18px 38px 0px rgba(255, 255, 255, 0.36);
}

.photography_portfolio_image:hover {
    box-shadow: 0px 16px 56px -14px rgba(0, 0, 0, 0.54);
    -webkit-box-shadow: 0px 16px 56px -14px rgba(0, 0, 0, 0.54);
    -moz-box-shadow: 0px 16px 56px -14px rgba(0, 0, 0, 0.54);
    filter: brightness(129%) contrast(92%);
    -webkit-filter: brightness(129%) contrast(92%);
    -moz-filter: brightness(129%) contrast(92%);
}

.photography_portfolio_image:active {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
}

.photography_portfolio_image {
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .pcard_pane_right {
        display: none;
    }

    .portfolio_body {
        padding-bottom: 6rem;
    }

    .portfolio_heading {
        margin-top: 5vh;
    }

    .portfolio_tabpane {
        padding: 0rem 0rem;
    }

    .MuiBox-root {
        padding-left: 0rem !important;
        padding-right: 0rem !important;
    }

    .photography_portfolio_modal_image {
        height: auto;
        border-radius: 1rem;
        box-shadow: 0px 18px 38px 0px rgba(255, 255, 255, 0.36);
        -webkit-box-shadow: 0px 18px 38px 0px rgba(255, 255, 255, 0.36);
        -moz-box-shadow: 0px 18px 38px 0px rgba(255, 255, 255, 0.36);
    }

    .modal_next_button_gallery {
        top: 90%;
        right: 8rem;
    }

    .modal_prev_button_gallery {
        top: 90%;
        left: 8rem;
    }
}