.scroll-container {
    scroll-snap-type: y mandatory !important;
    height: 100vh !important;
}

.scroll-item {
    min-height: 100vh !important;
    scroll-snap-align: start !important;
    scroll-snap-stop: normal;
}