.qual__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 52vh;
}

.qual__tabs {
    display: flex;
    justify-content: center;
    margin-bottom: var(--mb-2);
    flex-wrap: wrap;
    gap: 1rem;
}

.qual__button {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    color: var(--title-color);
    margin: 0 var(--mb-1);
    cursor: pointer;
    padding: 0.25rem 1rem;
    transition: 300ms;
    border: 2px dashed #aeaeae;
    border-radius: 0.8rem;
}

.qual__active:hover {
    color: white;
    background-color: black;
}

.qual__icon {
    font-size: 1.8rem;
    margin-right: var(--mb-0-25);
}

.qual__active {
    color: rgb(209, 209, 209);
    background-color: rgb(56, 56, 56);
    padding: 0.25rem 1rem;
    border-radius: 1rem;
    border: 2px dashed rgb(56, 56, 56);
}



.qual__sections {
    display: flex;
    flex-wrap: wrap;

}

.qual__content {
    display: none;
}

.qual__content-active {
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.qual__data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 16rem;
    height: 10rem;
    border: dashed rgb(155, 155, 155) 1px;
    border-radius: 1rem;
    padding: 0.75rem 0.75rem 0.75rem 1.25rem;
    transition: 300ms;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.qual__data:hover {
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    transition: 300ms;
    cursor: pointer;
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
}

.qual__title {
    font-size: var(--h3-font-size);
    font-weight: 600;
    line-height: 1.25rem;
    margin-bottom: 0.5rem;
}

.qual__subtitle_img__and__text {
    display: flex;
    align-items: start;
    justify-content: flex-start;
    gap: 0.5em;
    margin-bottom: 0.5rem;
}

.qual__subtitle_img {
    margin-top: 0.3rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 0.2rem;
}

.qual__subtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--small-font-size);
}

.qual__subtitile__section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.qual__calendar {
    font-size: var(--small-font-size);
}

.uil-schedule {
    margin-right: 0.75rem;
    margin-left: 0.25rem;
}

.qual__rounder {
    display: inline-block;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: var(--text-color);
}

.qual__line {
    display: block;
    height: 100%;
    width: 1px;
    background-color: var(--text-color);
    transform: translate(6px, -7px);
}

.qual__data_openIcon {
    position: absolute;
    margin-top: 7.3rem;
    margin-left: 9rem;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    font-weight: 700;
    color: rgb(99, 99, 128);
}

.qual__data_openIcon_xp {
    position: absolute;
    margin-top: 7.5rem;
    margin-left: 12.5rem;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    font-weight: 700;
    color: rgb(99, 99, 128);
}